@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Eintragen</h2>
        
        <label>Dein Name</label>
        <input type="text" class="form-control" id="name"/><br />

        <label>E-Mail</label>
        <input type="email" class="form-control" id="email"/><br />

        <label>Wann?</label>
        <input type="datetime" class="form-control" id="time"/><br />

        <label>Anbieter</label>
        <select class="form-control" id="place">
            <option>Test</option>
        </select>
        <br /><br />

        <button id="btnSend"><i class="glyphicon glyphicon-send"></i> absenden</button>
    </div>
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>

@section Scripts{
    <script>

        var vm = {};

        $(document).ready(function () {
            $("#btnSend").click(function () {
                var data = {
                   "Place": {
                       "Id": "2f6143c0-c4b8-4052-9e6a-c8f7eb60666d",
                       "Name": "Subway Hauptbahnhof",
                       "Description": "Kleine SUBWAY-Filiale im Bahnhof Heilbronn",
                       "Latitute": 49.1426362,
                       "Longitute": 9.2083295,
                       "Capacity": 10
                   },
                   "Id": "",
                   "Email": $("#email").val(),
                   "Name": $("#name").val(),
                   "Time": "2015-09-03T23:10:04.9"
                };

                $.ajax({
                    method: "POST",
                    url: "/api/user",
                    data: data
                });

            });
        });
    </script>
    }